# Module \#2 - Intermediate Python

# Lists, continued

Recall that lists are simple to construct using `[]` and can be accessed numerically!

In [ ]:
# Construct a list using []
my_lst = ["a", "b", "c"]
my_lst

In [ ]:
# Access the first element of a list using the index 0
my_lst[0]

Recall also that you can use slice notation (`start:stop:step`) which allows you to access a range of elements by an interval.

In [ ]:
# Construct a mixed-type list
my_lst = ["a", "b", "c", 1, 2, 3, True, False]
my_lst

In [ ]:
# Access the 2nd - 5th elements
my_lst[1:4]  # Remember that the slice is NOT inclusive

In [ ]:
# Access the 3rd element through the end in intervals of 2
my_lst[2::2]

In [ ]:
# Reverse the order of the list
my_lst[::-1]

In [ ]:
# Get the length of a list with len()
len(my_lst)

## in
Sometimes, you want to test whether a value exists within a list. To do this, we use the `in` operator.

In [ ]:
my_lst = ["Hello world!", 200, int("1"), [True, False, [1, 0, bool(0)]], 2**4, "This is a list!", 2+2j]
my_lst

In [ ]:
# 200 is inside of my_lst?
200 in my_lst

In [ ]:
# "Hello list!" is inside of my_lst
"Hello list!" in my_lst

**Challenge problem:** What would the following produce? (Without running it)

```python
22 % 7 in my_lst
```

### Range

Range allows you to easily construct a list-like object containing all the values between two numbers. 

They follow the pattern `range( start, stop, step )`.

In [ ]:
range(0, 100)

In [ ]:
range(10, 20, 3)

In [ ]:
20 in range(0, 100)

Ranges can be easily converted to a `list`. **Note** they are not inclusive of the 'end' value in the range.

In [ ]:
list(range(0, 10, 1))

In [ ]:
list(range(20, 30, 2))

In [ ]:
list(range(10))

### String - List Conversion

In python, strings are actually similar to a list of letters. You can access individual values using list access notation:

In [ ]:
my_str = "Hello world!"
my_str[4]

In [ ]:
my_str[3::2]

Additionally, strings containing a *separator* can be broken up into a list of strings using `.split()`. This is useful, for example, when trying to parse the text of a document.

In [ ]:
sentence = "It was a dark and stormy night."
sentence.split(sep=" ")

You can also rejoin a list into a string using `.join()`. 

Notice that `.join()` is a method belonging to objects of the `str` class.

In [ ]:
words = ['It', 'was', 'a', 'dark', 'and', 'stormy', 'night.']
" ".join(words)

Any arbitrary `str` can use the `.join()` method!

**Challenge problem:** What would the following produce? (Without running it)

```python
22 % 7 in my_lst
```

In [ ]:
"(-_-)".join(words)

<hr>

# Other programming concepts in Python

We will also briefly discuss control flow and functions in python. While these are useful techniques for python programming, they are not necessary for most typical data science activities in python. These are the topics which we will now summarize:

1. If...elif...else
2. Loops
3. Function definitions

## If...elif...else

These statements indicate code blocks that will only be executed given that a logical condition is met.

### If statements

`if` statements in python create a logic gate, such that some code will only execute if a logical condition is met. See an example here:

In [ ]:
a = 1
b = 1

if a == b:
    # Execute this code only if a == b is True
    print("a is equal to b!")

The above example shows an `if` statement. The code in this statement only executes which the condition (`a == b`) is `True`. **Challenge:** Can you modify the above block so that the code will not execute?

### If...else statements

`else` statements are executed if no previous conditions are satisfied. In other words, if not of the `if` statements execute, only then will the `else` statement execute.

In [ ]:
a = 1
b = 2

if a == b:
    print("a is equal to b!")
else:
    print("a is NOT equal to b!")

**Challenge question:** What will the following print? (Without running it yourself)

```python
a = [1, 2, 3]
cond = a[1] == 2
if cond:
    print("Yes")
else:
    print("No")
```

In [ ]:
a = [1, 2, 3]
cond = a[1] == 2
if cond:
    print("Yes")
else:
    print("No")

### If...elif...else statements

`elif` is a phrase that means "else if". This means that if the preceeding logical conditions are not satisfied, only then is this statement tested.

In [ ]:
grade = 78

if grade > 90:
    # Only executes if grade > 90
    letter_grade = "A"
elif grade > 80:
    # Only executes if grade > 80 and grade <= 90
    letter_grade = "B"
elif grade > 70:
    # Only executes if grade > 70 and grade <= 80
    letter_grade = "C"
elif grade >= 60:
    # Only executes if grade > 60 and grade <= 70
    letter_grade = "D"
else:
    # Only executes if grade < 60
    letter_grade = "F"
    
print("Student earned a grade of " + letter_grade)

In the above example, each logical condition is tested in sequence. Only when a condition is not met is the next one tested. If a student has a grade of `68`, then every `elif` statement will be tested. If the student had a `96`, then no `elif` statements would have been tested.

**Challenge question:** What will the following print? (Without running it yourself)

```python

trees = ['pine', 'spruce', 'fir', 'oak', 'cherry']

if 'pi' + ' ne' in trees:
    print("Pine Trees!")
elif ",".join(['fir', 'oak']) == "fir, oak":
    print("Fir Trees!")
elif "".join(['ry', 'cher'][::-1]) in trees:
    print("Cherry Trees!")
else:
    print("No trees!")
             
```

In [ ]:
trees = ['pine', 'spruce', 'fir', 'oak', 'cherry']

if 'pi' + ' ne' in trees:
    print("Pine Trees!")
elif ",".join(['fir', 'oak']) == "fir, oak":
    print("Fir Trees!")
elif "".join(['ry', 'cher'][::-1]) in trees:
    print("Cherry Trees!")
else:
    print("No trees!")

In [ ]:
",".join(['fir', 'oak'])

## Loops

Loops allow for python code to be applied to every element of an iterable object, such as a list.

### For loops

For loops are a type of finite loop in python (as opposed to `while` loops which we will not discuss here). A for loop iterates over an iterable object, such as a `list` or `tuple`. For every element of the object, code will be executed in succession. Here is an example:

In [ ]:
# Loop through a list of 1 through 10
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in numbers:
    print(number)

As the loop iterates, it assigns each element of `numbers` to the variable `number` and then runs the code within the loop. For example, we can add 10 to `number`:

In [ ]:
for number in numbers:
    print(number + 10)

Loops can be a relatively convenient way to add numbers to a list using the `.append()` method. For example:

In [ ]:
new_numbers = list()
for number in numbers:
    new_numbers.append(number + 10)
    
new_numbers

### Combining loops and if / else

In [ ]:
# Combining loops and if...else
grades = [85, 98, 45, 73]

# Loop over list of grades and print letter grade
for grade in grades:
    if grade > 90:
        # Only executes if grade > 90
        letter_grade = "A"
    elif grade > 80:
        # Only executes if grade > 80 and grade <= 90
        letter_grade = "B"
    elif grade > 70:
        # Only executes if grade > 70 and grade <= 80
        letter_grade = "C"
    elif grade >= 60:
        # Only executes if grade > 60 and grade <= 70
        letter_grade = "D"
    else:
        # Only executes if grade < 60
        letter_grade = "F"

    print("Student earned a grade of " + letter_grade)

**Challenge problem:** What does the following produce? (Without running it)

```python

fruits = ['apple', 'banana', 'pear', 'kiwi', 'orange', 'tomato', 'starfuit', 'grape']
new_fruits = []
for fruit in fruits:
    if "i" in fruit:
        new_fruits.append(fruit)
    elif "g" in fruit:
        if "p" in fruit:
            new_fruits.append(fruit)
            
print(new_fruits)

```

### Integer indices instead of direct for loops

Rather than using the list of grades directly, it may be useful to use the numerical indices of list elements. For example:

In [ ]:
# Loop through a list of letters
letters = ["a", "b", "c", "d"]

for letter in letters:
    print(letter)

In [ ]:
range(len(letters))

In [ ]:
for i in range(len(letters)):
    letter = letters[i]
    print(letter)

While this may seem more complicated, there are many situations in which this is necessary! For example:

In [ ]:
students = ['alice', 'kevin', 'sara', 'tim']
grades = [85, 98, 45, 73]

for i in range(len(grades)):
    
    grade = grades[i]
    student = students[i]
    
    if grade > 90:
        # Only executes if grade > 90
        letter_grade = "A"
    elif grade > 80:
        # Only executes if grade > 80 and grade <= 90
        letter_grade = "B"
    elif grade > 70:
        # Only executes if grade > 70 and grade <= 80
        letter_grade = "C"
    elif grade >= 60:
        # Only executes if grade > 60 and grade <= 70
        letter_grade = "D"
    else:
        # Only executes if grade < 60
        letter_grade = "F"

    print(student + " earned a grade of " + letter_grade)

### List comprehension

Typically, for loops are a terrible coding pattern in `Python`. There's almost always a much better/faster alternative to using one. However, they do have one area of utility in data science: **list comprehensions**. 

**List comprehension** is a *pythonic* coding pattern used for performing an action on a list. It is faster than a typical for-loop and reduces the number of lines needed to use one. 

It usually takes the following form:

```python
[ modify_value(value) for value in values ]
```
This will take every element of `values` and modify it using `modify_value()` function, returning a list of modified values of the same order and length as `values`.

For example we can simply return the `number` for every `number` in `range(1, 11)` like so:

In [ ]:
# NOTE: You can also use list comprehension to achieve this
[number for number in range(1, 11)]  # Print doesn't actually return a value

We could also modify these numbers:

In [ ]:
[number + 10 for number in numbers]  # Returns a value

**Challenge question:** Write a list comprehension which converts each element of `fruits` uppercase.

```python
fruits = ['apple', 'banana', 'pear', 'kiwi', 'orange', 'tomato', 'starfuit', 'grape']

# List comprehension goes here...

```

We can even add conditionals! Such as if...else statements:

In [ ]:
[-number if number % 2 == 0 else number for number in numbers]  # Returns a value

**Challenge question:** Write a list comprehension which converts each element of `fruits` uppercase only if it contains the letter "e".

```python
fruits = ['apple', 'banana', 'pear', 'kiwi', 'orange', 'tomato', 'starfuit', 'grape']

# List comprehension goes here...

```

## Functions

Functions are objects in python which take an input, perform computations, and return an output. Functions have arguments that help the function operate correctly. For example, we can define a function, `square_it()` which finds the square of any number:

In [ ]:
def square_it(x):
    print(x ** 2)
    
type(square_it)

In [ ]:
square_it(5)  # Gets 5 ** 2

Functions do not have to return a value. Because `square_it()` only prints an object, it doesn't return anything. Any variable that references the output of `square_it()` will be a `None`, which means "doesn't exist".

In [ ]:
result = square_it(5)

In [ ]:
print(result)

Interestingly, `None` is actually a type of object in Python. This allows you to easily reference them, which can make solving certain coding problems easier.

In [ ]:
type(result)  # NoneType objects

Functions can also return a value with the `return` statement. This is more common in python programming than simply printing the value:

In [ ]:
def square_it(x):
    return x ** 2  # Return a value
    
result = square_it(5)

In [ ]:
print(result)

**Challenge problem:** create a function with one argument, `grade` (is an `int`). The argument should convert `grade` to a letter grade and return this to the user.

**Challenge problem 2**: Using list comprehension, convert every element of `grades` with the function from the previous problem. 

Here is `grades`:

```python
grades = [85, 98, 45, 73, 35, 62, 67, 72, 92, 38, 88]
```

<hr>

# Complex objects in python, Continued

Let's continue on with our discussion of complex objects in Python!

Object types:
1. ~~Lists~~
2. Dictionaries
3. Tuples
4. Sets
5. *Modules/Packages*
6. Numpy arrays
7. Pandas DataFrames

## Dictionaries

Dictionaries are the core data type of the python language. Unlike lists, dictionaries are **unordered** and accessed using keys rather than using numerical indices. This workshop will not describe dictionaries in detail, but you can refer to the W3 schools guide [here](https://www.w3schools.com/python/python_dictionaries.asp) for more info.

In [ ]:
# Create a dict using key-value pairs between {}
my_dict = {
    'hello': 1
}
my_dict

In [ ]:
# Access the value in a dict using keys
my_dict['hello']

In [ ]:
# Dictionaries can have numerical, string, and boolean keys. They can hold any number of arbitrary object types.
my_dict = {
    'hello': 1,
    'world': True,
    123: [1, 2, ["Hello world"]],
    True: {
        "New": True
    }
}
my_dict

In [ ]:
my_dict[True]

## Sets and Tuples

Sets and tuples are also used in python. Discussing them is outside the scope of this workshop. For more information please refer to the following:

1. Sets - [here](https://www.w3schools.com/python/python_sets.asp)
2. Tuples - [here]()

## Modules and Packages

### Modules

Modules are python script files (`*.py`) which are imported into python. Typically, they contain functions and/or classes which are useful for your code. We can import modules like so:

In [ ]:
import builtins

`builtins` is a generic python module which contains many core functions such as `print()`. If we check the `type()` of `builtins`, we see that it is a `module` object:

In [ ]:
type(builtins)

If we import `builtins` as a module, we can then use the functions within that module, like so:

In [ ]:
builtins.print("Hello world!")

It might get inconvenient to keep typing `builtins` every time we want to use the `builtins.print()` function. Instead, we can import `builtins` using a variable which is easier to type:

In [ ]:
import builtins as btns

btns.print("Hello world!")

Sometimes we only want to use a small number of functions from a module. So, instead of importing the whole module, we might instead just import those functions directly using `from ... import ...`:

In [ ]:
from builtins import print

print("Hello world!")

Finally, we can even make a variable for a function:

In [ ]:
from builtins import print as pnt

pnt("Hello world!")

### Packages and CLI usage in Jupyter

Packages are collections of modules typically based on a shared purpose. They are typically installed using a package manager such as `pip` from the command line, like so:

```shell
pip install <name_of_package>
```

However, we are in a notebook and not on the command line! How do we install packages? Fortunately, Jupyter Notebook allows us to write any arbitrary command-line commands using the `!` symbol at the beginning of a block. For example, on the CLI, you can write "Hello world!":

In [ ]:
!echo "Hello world!"

This is equivalent to opening command prompt (windows) or terminal (macOS) and typing:

```shell
echo "Hello world!"
```

This capability is also very useful when you need to install python packages using `pip`, which is typically done from the command line. Instead, we can install packages from within Jupyter like so:

In [ ]:
!pip install numpy

As you can see, I already have `numpy` installed. Otherwise, it would have installed it for me.

## Numpy arrays

`numpy` is a python package that provides complex data types for performing mathematical operations. In particular, numpy provides the `array` data type which is similar to the `matrix` in R. 

Before arrays can be constructed it is necessary to install the numpy library in Python (if you don't already have it) and load it into Python:

In [ ]:
import numpy as np

In [ ]:
type(np)

Just like other objects, they have properties and methods. We typically load modules into python because we want to use the methods they contain. As a reminder, you can access an object's methods using the `<object>.<method>()` notation. For the `numpy` module, the method we are most interested is the `array()` method -- this is what we can use to construct an `array` object.

Arrays are similar to lists, except that they are specifically design for holding only one type of data, typically numerical data.

In [ ]:
# Create a 1-dimensional (1d) array holding the values 1, 2, and 3
np.array([1, 2, 3])

We can create 2-dimensional arrays by adding lists of lists:

In [ ]:
# Construct a 2d array
numpy.array([
    [1, 2, 3],
    [4, 5, 6]
])

We can even create a 3-dimension array (and beyond) using lists of lists of lists (etc).

In [ ]:
# Construct a 3d array
numpy.array([
    [
        [1, 2, 3],
        [4, 5, 6]
    ],
    [
        [7, 8, 9],
        [10, 11, 12]
    ]
])

### Numpy array methods

Many methods are available for `array` objects. An exhaustive reference is available [here](https://numpy.org/doc/stable/reference/index.html). For now, we will discuss a few key methods:

1. Creation
2. Shape and dimensions
3. Accessing elements
4. Setting elements
5. any / all 
6. Mathematical operations

#### Creation

Numpy arrays are created in multiple ways. The simplest invovles the use of lists (shown above):

In [ ]:
my_arr = np.array([
    [True, False, False],
    [False, True, False]
])
my_arr

In [ ]:
type(my_arr)

Arrays can also be created using the `arange()` method. This method creates a sequential `array` given the max element specified:

In [ ]:
# Create a 1d integer array from 0-10
my_arr = np.arange(10)
my_arr

In [ ]:
# Create a 1d integer array from 10-20
my_arr = np.arange(10, 20)
my_arr

In [ ]:
# Create a 1d integer array from 10-100 in steps of 5
my_arr = np.arange(10, 100, 5)
my_arr

In [ ]:
# Create a 1d float array from 0.0-10.0
my_arr = np.arange(10.0)
my_arr

#### Shape and dimensions

`numpy` arrays have a number of dimensions and a shape. Note that these are properties, not methods. They are accessed using this pattern: `<object>.<property_name>` as follows:

In [ ]:
# Construct 2d array
my_arr = np.array([
    [True, False, False],
    [False, True, False]
])

In [ ]:
# Get number of dimensions property
my_arr.ndim

**Note**: The `shape` of any `array` follows the format:

```python
(dimN, dimN-1, ..., dim3, dim2, dim1)
```

Where `dim1` is the innermost brackets (dimension \#1), `dim2` is the next innermost, ... and `dimN` is the outermost brackets.

Where the value for each `dim` corresponds to the number of elements in that dimension. For example:

In [ ]:
# Get the shape property (number of rows (ie dim 2), number of columns (ie dim 1))
my_arr.shape

Let's examine this in action with a 3D array:

In [ ]:
# Construct a 3d array
arr_3d = np.array([
    [
        [1, 2, 3],
        [4, 5, 6]
    ],
    [
        [7, 8, 9],
        [10, 11, 12]
    ]
])

# Get the shape (number of 2d arrays (aka "stacks"), number of rows, number of columns)
arr_3d.shape

Finally, the shape of an array can be altered using the `reshape()` method. This is particularly useful for quickly constructing arrays of a desired shape:

In [ ]:
my_arr = np.arange(15)
my_arr = my_arr.reshape((5, 3))  # Note that this does NOT overwrite the my_arr object until you re-assign using '='

In [ ]:
my_arr

The above can be simplified in 1 line of code:

In [ ]:
my_arr = np.arange(15).reshape((5, 3))
my_arr

**Challenge problem:** Create an array with all the even numbers from 2 through 13 in 2D format with two rows and three columns.

#### Accessing elements

Elements can be accessed using several approaches:

1. Numerical
2. Logical

For the **Numerical** approach, numerical indices are utilized using the pattern suited to their shape following this form:

```python
my_array[dimN, dimN-1, ..., dim3, dim2, dim1]
```

In which the value for `dim*` is the index of the element within that dimension of the dataset you want to access. For example:

In [ ]:
# For a 1D array, similar to list
my_arr = np.array([3, 8, 1, 5])
my_arr[1]  # Get the 2nd element of the first (and only) dimension

Now in a 2D array with `dim2` (rows) and `dim1` (cols):

In [ ]:
# For a 2D array, the pattern is array[dim2_index, dim1_index]
my_arr = np.array([
    [5, 7, 4, 6],
    [2, 1, 9, 8]
])
my_arr[0, 1]  # First element in dim 2 (row 0) and second element in dim 1 (column 2)

Now in a 3D array with `dim3` (stacks), `dim2` (rows), and `dim1` (cols):

In [ ]:
# For an n-dimensional array, the pattern is the same: array[dimN_index, dimN-1_index, dimN-2_index..., dim1_index]
my_arr = np.arange(125).reshape((5, 5, 5))
print(my_arr)

In [ ]:
my_arr[2, 3, 1]  # 3rd element in dim 1 (matrix 3), 4th element in dim 2 (row 4), 2nd element in dim 3 (column 2)

We can also use slice notation in order to get elements within a dimension! For example, if we wanted to get the 2nd column from every row in the first stack of `my_arr`:

In [ ]:
my_arr[0, :, 1]

**Challenge problem**: Write a statement which accesses every other column, from the last two rows, of the last stack in `my_arr`.

For the **Logical** approach to accessing data, we can use a boolean array to extract the element(s) of interest:

In [ ]:
num_arr = np.array([1, 2, 3])
bool_arr = np.array([False, False, True])
num_arr[bool_arr]  #  We access the element of num_arr for which bool_arr is True

This approach is extremely powerful when you can use logical operations to create a boolean array:

In [ ]:
# Create a 2D matrix
dataset = np.array([
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10]
])
print(dataset)

In [ ]:
# Create a boolean matrix for this dataset to test where values are greater than 3
bools = dataset > 3
print(bools)

In [ ]:
# Extract the value(s) which satisfy this logical operation
dataset[bools]

We can also use `np.equal()` to construct a boolean array based on equivalence with a value:

In [ ]:
# Create a boolean matrix for this dataset to test where values are equal to 5 using np.equals()
bools = np.equal(dataset, 5)
print(bools)

In [ ]:
# Extract the value(s) which satisfy this logical operation
dataset[bools]

In [ ]:
# Create a boolean matrix for this dataset to test where values are > 8 or < 3
bools = np.logical_or(dataset > 8, dataset < 3)
print(bools)
# Subset the data using these booleans
dataset[bools]

Finally, we can use the **where** approach that is a hybrid of these two methods. `where()` returns the numerical indices in which a logical condition was met. For example:

In [ ]:
dataset

In [ ]:
# Find the numerical indices for values in the dataset > 6
indices = np.where(dataset > 6)
print(indices)
# Subset the data using these indices
dataset[indices]

#### Setting elements

Just as you can access elements of an array, you can also set them. This can be done with integer and logical indexing. 

Here is an example with simple integer indexing:

In [ ]:
# Create a 2D matrix
dataset = np.array([
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10]
])
print(dataset)

In [ ]:
# Change row 2, column 5 to the value 100
dataset[1, 4] = 100
dataset

You can also use logical indexing to set array values:

In [ ]:
# Set every value > 3 to 0
dataset = np.array([
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10]
])
dataset[dataset > 3] = 0 
dataset

And, finally, you can use the `where()` method:

In [ ]:
# Set all value < 7 to -1
dataset = np.array([
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10]
])
dataset[np.where(dataset < 7)] = -1
dataset

#### Any / All

`any()` and `all()` are two methods which determine whether an array satisfies a logical condition. `any()` is `True` if any element in the array satisfies the condition. `all()` is `True` if all elements of the array satisfy the condition. Examples:

In [ ]:
dataset = np.array([
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10]
])

In [ ]:
# Any values equal to 0?
np.any(dataset == 0)

In [ ]:
# All values NOT equal to 0?
np.all(dataset != 0)

#### Mathematical methods

Arrays have a large number of built-in mathematic methods. Examples include `sum()` and `mean()`. They can also be used for multi-dimensional algebraic operations, such as matrix multiplication and dot products. Here are a small number of examples:

In [ ]:
my_data = np.arange(9).reshape((3,3))
my_data

In [ ]:
# Multiplication by scalar
my_data * 3

In [ ]:
# Addition by vector
my_vector = np.array([5, 10, 20])
my_data + my_vector

In [ ]:
# Sum of values
my_data.sum()

In [ ]:
# Mean of values within dimension 2 (rows) -- "axis" specificies the dimension index
my_data.mean(axis=1)

In [ ]:
# Max values within dimension 1 (columns)
my_data.max(axis=0)

In [ ]:
# Transposition
my_data.transpose()

In [ ]:
# Make new dataset
my_data2 = np.arange(100, 109).reshape((3,3))  # 3x3 matrix of 100:109

# Compute dot product
dot_prod = np.dot(my_data, my_data2)
dot_prod

In [ ]:
# Compute the pearson correlation of two 1d arrays
arr1 = np.array([1, 5, 6, 6, 7, 10])
arr2 = np.array([3, 3, 4, 3, 6, 9])
np.corrcoef(arr1, arr2)  # Correlation is ~.809

**Random**: Randomness is very useful in advanced mathematics and statistics. `numpy` has builtin methods for generating randomnes. For example, we can easily pick a random integer between 1 and 100:

In [ ]:
np.random.randint(low=1, high = 100)

We can also generate a random integer array based based on a supplied size parameter:

In [ ]:
np.random.randint(low=1, high=100, size=(5, 3))

We can also generate an array of random floats between 0 and 1 by supplying a shape:

In [ ]:
np.random.rand(4, 4)

## Pandas Series and DataFrame

`pandas` is arguably the most important library for data science in python. It provides both the `Series` and `DataFrame` objects, along with a large number of methods for working with them. Under the hood, it uses `numpy` so many `array` methods work with `pandas` objects. In this section, we will discuss the `Series` object and the `DataFrame` object, then introduce some core methods for working with them.

### Pandas `Series`

Similar to the 1D array, a pandas `Series` is an array where every element can have a name. See this example:

In [ ]:
!pip install pandas

In [ ]:
import pandas as pd

In [ ]:
my_data = pd.Series(data={
    'one': 1,
    'two': 2,
    'three': 3
})
my_data

Similar to a dictionary, the values can be accessed using the names:

In [ ]:
my_data['two']

And similar to an `array`, the values can also be accessed using numbers and booleans:

In [ ]:
# Access element 1
my_data[0]

In [ ]:
# Access the element(s) which equals 3
my_data[my_data == 3]

### Pandas `DataFrame`

The `DataFrame` is an extremely powerful datatype in python, and it is used ubiquitously throughout pythonic data science. A `DataFrame` is always a 2-dimensional `array` which contains named columns and rows.

In [ ]:
my_df = pd.DataFrame(data={
    'col_one': range(1, 5),
    'col_two': range(11, 15),
    'col_three': range(21, 25)
}, index = [
    'row_one', 'row_two', 'row_three', 'row_four'
])
my_df

Methods for `DataFrame` objects are numerous and can be found [here](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html). In the next module, we will discuss the following:

1. Difference between this and numpy array
2. Indexing / naming
3. Accessing data (iloc vs loc vs []) / setting data
4. Basic plotting
5. Reading / Writing to file